{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Go Verify",
  serviceUrl: "#"
}) }}
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl"> Upload and store your documents
      {% if serviceName %} {{ serviceName }} {% endif %}
    </h1>

    <div class="govuk-inset-text">
      You can skip this step if you do not want to store your documents on the portal. 
      <p> 

      </p>
      You will need to upload your documents for each service you apply for'
    </div>
    
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
     Skip this step
    </button>
 
    <p>   

    </p>
  <p> You can upload the following documents:
    <ul class="govuk-list govuk-list--bullet">
      <li>passport</li>
      <li>driving licence</li>
      <li>birth certificate</li>
      <li>marriage and civil partnership certificates</li>
      <li>benefits eligibility letters</li>
      <li>utility bills</li>
      <li>council tax bills</li>
    </ul>

<p>See our <a class="govuk-link" href="">list of council services and the documents they need.</a></p>

 
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Consent statement
        </h1>
      </legend>
     

    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          I understand and agree that Fictional City Council will store my personal information and documents for up to 5 years, 
          and that they will use my data to support my applications to services. 
        </label>
      </div>
  
     
    </div>
    <div></div>

    <p>   
      
    </p>

    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Cotinue to upload
      </button>
    
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Skip upload and continue
      </button>
    </div>

  </fieldset>
</div>





{% endblock %}


